<!-- Representa la raíz de un documento HTML o XHTML. Todos los demás elementos deben ser descendientes de este elemento. -->
<html lang="es">
    
    <head>
        
        <meta charset="utf-8">
        
        <title> Inicio De Sesión </title>    
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        
        <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap"

        rel="stylesheet"
        type="text/css"
        media="screen"
        href="./registro.component.css"
      />
      <script src="main.js"></script>
        

    </head>
    
    <body>
    
        <div id="contenedor">
            
            <div id="contenedorcentrado">
                <div id="login">
                    <form novalidate (ngSubmit)="registrar()" [formGroup]="formReg">
                        <label for="usuario">Nombre</label>
                        <input [(ngModel)]="datos.nombre" id="usuario" type="text" name="usuario" placeholder="Ingresa Nombre" required formControlName="nombre">

                        <label for="usuario">Apellidos</label>
                        <input [(ngModel)]="datos.apellido" id="usuario" type="text" name="usuario" placeholder="Coloca Apellidos" required formControlName="apellidos">

                        <label for="usuario">Email</label>
                        <input [(ngModel)]="datos.email" id="usuario" type="text" name="usuario" placeholder="Usuario" required formControlName="email">
                        
                        <label for="password">Contraseña</label>
                        <input [(ngModel)]="datos.password" id="password" type="password" placeholder="Contraseña" name="password" required formControlName="password">
                        
                    <div class="buttons">
                        <button class="up" type="submit" title="Ingresar" name="Ingresar">Registrar Usuario</button>
                    </div>
                    </form>
                    
                </div>
                <div id="derecho">
                    <div class="titulo">
                        Bienvenido al Registro de Usuario
                    </div>
                    <hr>
                    <div class="pie-form">
                        <a href="/InicioSesion">Regresar al inicio de sesión</a>
                    </div>
                </div>
            </div>
        </div>
        
    </body>
</html>